In [8]:
import pandas as pd
import numpy as np

# Kullanılmak üzere örnek data frameler

In [13]:
data = {
    "Rakam" : [1,2,3,4,5],
    "Sayi" :  [10,20,30,40,50],
    "Karışık" : [100,np.nan,200,300,499],
    "Harf" : ["a","b","c","d","e"]
}

In [15]:
df = pd.DataFrame(data)

# 1. Fonksiyon head() : İlk birkaç satırı görüntüler.

In [22]:
print(df.head())

   Rakam  Sayi  Karışık Harf
0      1    10    100.0    a
1      2    20      NaN    b
2      3    30    200.0    c
3      4    40    300.0    d
4      5    50    499.0    e

# 2. Fonksiyon info() : Data Frame hakkında bilgi verir.

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rakam    5 non-null      int64
 1   Sayi     5 non-null      int64
 2   Karışık  4 non-null      float64
 3   Harf     5 non-null      object
dtypes: float64(1), int64(2), object(1)
memory usage: 292.0+ bytes

# 3. Fonksiyon describe() : Sayısal verilerin istatistiksel özetini çıkarır.

In [33]:
print(df.describe())

          Rakam       Sayi     Karışık
count  5.000000   5.000000    4.000000
mean   3.000000  30.000000  274.750000
std    1.581139  15.811388  170.343525
min    1.000000  10.000000  100.000000
25%    2.000000  20.000000  175.000000
50%    3.000000  30.000000  250.000000
75%    4.000000  40.000000  349.750000
max    5.000000  50.000000  499.000000

# 4. Fonksiyon isnull() : Eksik verileri kontrol eder (Varsa True, yoksa False yazdırılır).

In [36]:
print(df.isnull())

   Rakam   Sayi  Karışık   Harf
0  False  False    False  False
1  False  False     True  False
2  False  False    False  False
3  False  False    False  False
4  False  False    False  False

# 5. Fonksiyon fillna() : Eksik verileri fonksiyon parametresi içine yazılan veri ile doldurur.

In [40]:
df_filled = df.fillna(0)
print(df_filled)

   Rakam  Sayi  Karışık Harf
0      1    10    100.0    a
1      2    20      0.0    b
2      3    30    200.0    c
3      4    40    300.0    d
4      5    50    499.0    e

# 6. Fonksiyon dropna() : Eksik verileri içeren satırları kaldırır.

In [44]:
df_dropped = df.dropna()
print(df_dropped)

   Rakam  Sayi  Karışık Harf
0      1    10    100.0    a
2      3    30    200.0    c
3      4    40    300.0    d
4      5    50    499.0    e

# 7. Fonksiyon groupby() : Belirli bir sütun üzerinde gruplandırma ve işlemler yapar.

In [48]:
grouped = df.groupby("Sayi").sum()
print(grouped)

      Rakam  Karışık Harf
Sayi
10        1    100.0    a
20        2      0.0    b
30        3    200.0    c
40        4    300.0    d
50        5    499.0    e

# 8. Fonksiyon apply() : Belirli bir sütün üzerinde özel fonksiyonlar uygulanmasını sağlar.

In [56]:
def square(x):
    return x ** 2
df["Rakam_kare"] = df["Rakam"].apply(square)
print(df)

   Rakam  Sayi  Karışık Harf  Rakam_kare
0      1    10    100.0    a           1
1      2    20      NaN    b           4
2      3    30    200.0    c           9
3      4    40    300.0    d          16
4      5    50    499.0    e          25

# 9. Fonksiyon sort_values() : Verileri belirli bir sütuna göre sıralar.

In [60]:
df_sorted = df.sort_values(by="Sayi", ascending=False)
print(df_sorted)

   Rakam  Sayi  Karışık Harf  Rakam_kare
4      5    50    499.0    e          25
3      4    40    300.0    d          16
2      3    30    200.0    c           9
1      2    20      NaN    b           4
0      1    10    100.0    a           1

# 10. Fonksiyon merge(): İki data frame'i birleştirir.

In [67]:
df2 = pd.DataFrame({"Rakam" : [2,3], "Sayi" : [100,200]})
df_merged = pd.merge(df,df2,on="Sayi" , how= "left")
print(df_merged)

   Rakam_x  Sayi  Karışık Harf  Rakam_kare  Rakam_y
0        1    10    100.0    a           1      NaN
1        2    20      NaN    b           4      NaN
2        3    30    200.0    c           9      NaN
3        4    40    300.0    d          16      NaN
4        5    50    499.0    e          25      NaN